<div id="new_ad">
  <h1>Post a new ad</h1>
  <%= error_messages_for :ad %>
  <% form_for(@ad) do |form| %>

    <label for="ad_category_id">Category</label>
    <%= form.text_field :category_id %>
    
    <label for="ad_title">Title</label>
    <%= form.text_field :title %>

    <label for="ad_description">Description</label>
    <%= form.text_area :description %>

    <label for="ad_price">Price <span>(if you're selling something)</span></label>
    <%= form.text_field :price %>

    <label for="ad_location">Location</label>
    <%= form.text_field :location %>

    <div id="save_bar">
      <%= form.submit "Create" %> or <%= link_to 'Cancel', classifieds_path %>
    </div>

  <% end %>

  <%= link_to 'Back', ads_path %>
</div>