<div id="ad_<%= @ad.id %>" class="ad">
  <h1><%=h @ad.title %></h1>
  <%=h @ad.description %>
  <b>Price:</b> <%=h @ad.price %>
  <b>Location:</b> <%=h @ad.location %>
  <b>User:</b> <%=h @ad.user.name %>
</div>

<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
