-# A page renders several parts. Partials are named by the part_type, for example 'html'
-# The html partial renders two things: the plain view of this part as well as the edit module for this part
-# The partial structure (when logged in) looks like this:
-# page
-#  +- part_type
-#    |- view_part_type
-#    |- edit_part_type

- text_selected = false unless local_assigns[:text_selected]

%div{ :id => "part_#{part.id}", :class => "part #{part.part_type.class_name}" }
  = link_to_function 'Edit', "$('part_#{part.id}').down('div.edit').toggle(); $('part_#{part.id}').down('div.view').toggle()", :class => 'admin edit'
  .view{ :style => "#{mode == :view ? '' : 'display:none'}" }
    = render :partial => "parts/view_#{part.part_type.class_name}", :locals => { :part => part }
  .edit{ :style => "#{mode == :edit ? '' : 'display:none'}" }
    = render :partial => "parts/edit_#{part.part_type.class_name}", :locals => { :part => part }
  
- if text_selected
  :javascript
    $('part_#{part.id}').down('textarea').select();
    