<h1>Editing site</h1>

<% form_for([:api,@site]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :subdomain %><br />
    <%= f.text_field :subdomain %>
  </p>
  <p>
    <%= f.label :enabled %><br />
    <%= f.check_box :enabled %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', [:api,@site] %> |
<%= link_to 'Back', api_sites_path %>