<h1>Listing users</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Address 1</th>
    <th>Address 2</th>
    <th>City</th>
    <th>State</th>
    <th>Country</th>
    <th>Postal code</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Password</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.first_name %></td>
    <td><%=h user.last_name %></td>
    <td><%=h user.address_1 %></td>
    <td><%=h user.address_2 %></td>
    <td><%=h user.city %></td>
    <td><%=h user.state %></td>
    <td><%=h user.country %></td>
    <td><%=h user.postal_code %></td>
    <td><%=h user.email %></td>
    <td><%=h user.phone %></td>
    <td><%=h user.password %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>