<p>
  <b>First name:</b>
  <%=h @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @user.last_name %>
</p>

<p>
  <b>Address 1:</b>
  <%=h @user.address_1 %>
</p>

<p>
  <b>Address 2:</b>
  <%=h @user.address_2 %>
</p>

<p>
  <b>City:</b>
  <%=h @user.city %>
</p>

<p>
  <b>State:</b>
  <%=h @user.state %>
</p>

<p>
  <b>Country:</b>
  <%=h @user.country %>
</p>

<p>
  <b>Postal code:</b>
  <%=h @user.postal_code %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Phone:</b>
  <%=h @user.phone %>
</p>

<p>
  <b>Password:</b>
  <%=h @user.password %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>