<tr class="<%= cycle '', 'alt' %>">
  <td class="date"><%= distance_of_time_in_words ad.created_at %></td>
  <td class="title"><%= link_to ad.title, :action => "show", :id => ad %></td>
  <td class="user"><%= link_to ad.user.name, :controller => 'users', :action => 'show', :id => ad.user.id %></td>
  <td class="location"><%= link_to ad.location, :controller => 'users', :action => 'show', :id => ad.user.id %></td>
</tr>