<h1>Listing part_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Code</th>
    <th>Position</th>
  </tr>

<% @part_types.each do |part_type| %>
  <tr>
    <td><%=h part_type.name %></td>
    <td><%=h part_type.description %></td>
    <td><%=h part_type.code %></td>
    <td><%=h part_type.position %></td>
    <td><%= link_to 'Show', part_type %></td>
    <td><%= link_to 'Edit', edit_part_type_path(part_type) %></td>
    <td><%= link_to 'Destroy', part_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New part_type', new_part_type_path %>