<p>
  <b>Name:</b>
  <%=h @part_type.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @part_type.description %>
</p>

<p>
  <b>Code:</b>
  <%=h @part_type.code %>
</p>

<p>
  <b>Position:</b>
  <%=h @part_type.position %>
</p>


<%= link_to 'Edit', edit_part_type_path(@part_type) %> |
<%= link_to 'Back', part_types_path %>