#debug

  = link_to_function('Params Trace', "$('debug_params').toggle()")
  #debug_params
    %table
      - params.keys.sort.each do |key|
        %tr
          %td= key
          %td= params[key]
  = link_to_function('Session Trace', "$('debug_session').toggle()")
  #debug_session{ :style => "display:none" }
    %table
      - session.keys.collect(&:to_s).sort.each do |key|
        %tr
          %td= key
          %td= session[key.to_sym] || 'nil'
  = link_to_function('Request Trace', "$('debug_request').toggle()")
  #debug_request{ :style => "display:none" }
    %table
      - request.env.keys.sort.each do |key|
        %tr
          %td= key
          %td= request.env[key]
